*
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  outline: 0;
}

html
{
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(18, 2, 85));
  font-family: Arial, Helvetica, sans-serif;
}


  .Winner
  {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em;
    font-size: 5vh;
  }
  main
  {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
    .OpponentsCards, .MyCards
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
      .MyCards .CardContainer:hover
      {
        transform: translateY(-20px);
        box-shadow: 2px 2px 2px black;
      }
    .Table
    {
      border-radius: 2vh;
      background: linear-gradient(-45deg, rgba(15, 15, 15, 0.5), rgba(187, 239, 255, 0.4));
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2),
                  inset 7px 7px 6px rgba(255, 255, 255, 0.2),
                  inset -7px -7px 6px rgba(0, 0, 0, 0.2);
      height: 50vh;
      width: 98vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: center;
    }
      .CardsOnTable
      {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
      }
        .OpponentsCardsOnTable, .MyCardsOnTable
        {
          display: flex;
          flex-direction: row;
        }
      .ScoreArea
      {
        border-left: 3px solid rgb(223, 223, 223);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px 5px;
        padding: 5px;
      } 
  
  @media screen and (min-width: 700px)
  {
    .Table
    {
      width: 95vw;
    }
  }
  @media screen and (min-width: 730px)
  {
    .MyCards.CardContainer:hover
    {
      transform: translateY(-20px);
      box-shadow: 5px 5px 5px black;
    }
  }
  @media screen and (min-width: 800px)
  {
    .OpponentsCardsOnTable, .MyCardsOnTable
    {
      margin-left: 10px;
    }
  }
  @media screen and (min-width: 850px)
  {
    .Table
    {
      width: 90vw;
    }
  }
  @media screen and (min-width: 900px)
  {
    .Table
    {
      width: 85vw;
    }
  }
  @media screen and (min-width: 1000px)
  {
    .Table
    {
      width: 90vw;
    }
  }
  @media screen and (min-width: 1100px)
  {
    .Table
    {
      width: 85vw;
    }
  }
  @media screen and (min-width: 1200px)
  {
    .Table
    {
      width: 80vw;
    }
      .ScoreArea
      {
        font-size: 1.4em;
      }
  }
  @media screen and (min-width: 1250px)
  {
    .Table
    {
      width: 75vw;
    }
  }
  @media screen and (min-width: 1300px)
  {
    .Table
    {
      width: 73vw;
    }
  }
  @media screen and (min-width: 1350px)
  {
    .Table
    {
      width: 70vw;
    }
  }
  @media screen and (min-width: 1400px)
  {
    .Table
    {
      width: 70vw;
    }
  }
  @media screen and (min-width: 1430px)
  {
    .Table
    {
      width: 67vw;
    }
  }
  @media screen and (min-width: 1500px)
  {
    .Table
    {
      width: 65vw;
    }
      .ScoreArea
      {
        font-size: 1.6em;
      }
  }
  @media screen and (min-width: 1530px)
  {
    .Table
    {
      width: 63vw;
    }
  }
  @media screen and (min-width: 1590px)
  {
    .Table
    {
      width: 60vw;
    }
  }
  @media screen and (min-width: 1650px)
  {
    .Table
    {
      width: 58vw;
    }
  }
  @media screen and (min-width: 1700px)
  {
    .Table
    {
      width: 50vw;
    }
      .ScoreArea
      {
        font-size: 1.7em;
      }
  }
  @media screen and (min-width: 2000px)
  {
      .ScoreArea
      {
        font-size: 1.8em;
      }
  }
  @media screen and (min-width: 2200px)
  {
      .ScoreArea
      {
        font-size: 2em;
      }
  }
  @media screen and (min-width: 2400px)
  {
      .ScoreArea
      {
        font-size: 2.1em;
      }
  }
  @media screen and (min-width: 2600px)
  {
      .ScoreArea
      {
        font-size: 2.6em;
      }
  }
  @media screen and (min-width: 2800px)
  {
    .Table
    {
      width: 55vw;
    }
      .ScoreArea
      {
        font-size: 2.8em;
      }
  }
  @media screen and (min-width: 3000px)
  {
      .ScoreArea
      {
        font-size: 3em;
      }
  }