*
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  outline: 0;
}

html
{
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(18, 2, 85));
  font-family: Arial, Helvetica, sans-serif;
}


  header
  {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em;
    font-size: 2em;
  }
    .Title
    {
      font-size: 3em;
      margin: 1em;
    }
  main
  {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
    .OpponentsCards, .MyCards
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .Table
    {
      border-radius: 2vh;
      background: linear-gradient(-45deg, rgba(15, 15, 15, 0.5), rgba(187, 239, 255, 0.4));
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2),
                  inset 7px 7px 6px rgba(255, 255, 255, 0.2),
                  inset -7px -7px 6px rgba(0, 0, 0, 0.2);
      height: 50vh;
      width: 98vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: center;
    }
      .CardsOnTable
      {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
      }
        .OpponentsCardsOnTable, .MyCardsOnTable
        {
          display: flex;
          flex-direction: row;
        }
      .ScoreArea
      {
        border-left: 3px solid rgb(223, 223, 223);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px 5px;
        padding: 5px;
      } 
  footer{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  @media screen and (min-width: 700px)
  {
    .Table
    {
      width: 95vw;
    }
  }
  @media screen and (min-width: 900px)
  {
    .Table
    {
      height: 60vh;
    }
  }
  @media screen and (min-width: 1000px)
  {
    .Table
    {
      width: 90vw;
    }
  }
  @media screen and (min-width: 1100px)
  {
    .Table
    {
      width: 85vw;
    }
  }
  @media screen and (min-width: 1200px)
  {
    .Table
    {
      width: 80vw;
    }
  }
  @media screen and (min-width: 1200px)
  {
    .Table
    {
      width: 80vw;
    }
  }
  @media screen and (min-width: 1250px)
  {
    .Table
    {
      width: 75vw;
    }
  }
  @media screen and (min-width: 1300px)
  {
    .Table
    {
      width: 73vw;
    }
  }
  @media screen and (min-width: 1350px)
  {
    .Table
    {
      width: 70vw;
    }
  }
  @media screen and (min-width: 1400px)
  {
    .Table
    {
      width: 70vw;
    }
  }
  @media screen and (min-width: 1430px)
  {
    .Table
    {
      width: 67vw;
    }
  }
  @media screen and (min-width: 1500px)
  {
    .Table
    {
      width: 65vw;
    }
  }
  @media screen and (min-width: 1530px)
  {
    .Table
    {
      width: 63vw;
    }
  }
  @media screen and (min-width: 1590px)
  {
    .Table
    {
      width: 60vw;
    }
  }
  @media screen and (min-width: 1650px)
  {
    .Table
    {
      width: 58vw;
    }
  }
  @media screen and (min-width: 1700px)
  {
    .Table
    {
      width: 50vw;
    }
  }